<a href="https://colab.research.google.com/github/hasib231/Data_Mining_-_Machine_Learning/blob/main/DM_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/Colab files/D&M Lab/D&M lab 1.txt")

In [12]:
df.head(20)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0

In [4]:
df.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [6]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [10]:
df.isnull().sum(0)

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [13]:
df = df.dropna()

In [14]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60  '2020/12/26'    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [15]:
df.isnull().sum(0)

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  28 non-null     int64
 1   Date      28 non-null     object
 2   Pulse     28 non-null     int64
 3   Maxpulse  28 non-null     int64
 4   Calories  28 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [17]:
df.duplicated().sum()

1

In [20]:
df = df.drop_duplicates()

In [21]:
df.duplicated().sum()

0

In [22]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.025460  0.025693 -0.124673
Pulse    -0.025460  1.000000  0.200177  0.503243
Maxpulse  0.025693  0.200177  1.000000  0.338515
Calories -0.124673  0.503243  0.338515  1.000000

In [23]:
df = df.drop('Date',axis=1)

In [24]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [28]:
from sklearn import preprocessing
min_max = preprocessing.MinMaxScaler(feature_range=(0,1))
new_data = min_max.fit_transform(df)

In [29]:
new_data

array([[0.07142857, 0.47368421, 0.39189189, 0.75378654],
       [0.07142857, 0.65789474, 0.59459459, 1.        ],
       [0.07142857, 0.28947368, 0.45945946, 0.51039098],
       [0.03571429, 0.44736842, 1.        , 0.30750264],
       [0.03571429, 0.65789474, 0.63513514, 0.74286721],
       [0.07142857, 0.26315789, 0.35135135, 0.3694963 ],
       [0.07142857, 0.47368421, 0.47297297, 0.63015146],
       [1.        , 0.31578947, 0.44594595, 0.20500176],
       [0.        , 0.44736842, 0.43243243, 0.        ],
       [0.07142857, 0.15789474, 0.31081081, 0.26030292],
       [0.07142857, 0.28947368, 0.62162162, 0.47270166],
       [0.07142857, 0.21052632, 0.25675676, 0.19584361],
       [0.07142857, 0.36842105, 0.36486486, 0.52905953],
       [0.07142857, 0.31578947, 0.41891892, 0.64882001],
       [0.07142857, 0.15789474, 0.2972973 , 0.28143713],
       [0.07142857, 0.15789474, 0.25675676, 0.07079958],
       [0.07142857, 0.21052632, 0.25675676, 0.3694963 ],
       [0.07142857, 0.28947368, 0.2972973 , 0.45051074],
       [0.03571429, 0.13157895, 0.32432432, 0.16872138],
       [0.07142857, 0.42105263, 0.40540541, 0.59563226],
       [0.07142857, 1.        , 0.        , 0.3694963 ],
       [0.03571429, 0.34210526, 0.41891892, 0.17928848],
       [0.07142857, 0.26315789, 0.33783784, 0.49101796],
       [0.07142857, 0.21052632, 0.25675676, 0.19337795],
       [0.07142857, 0.        , 0.22972973, 0.16167665],
       [0.07142857, 0.21052632, 0.41891892, 0.29904896],
       [0.07142857, 0.26315789, 0.37837838, 0.65234237],
       [0.07142857, 0.        , 0.18918919, 0.16872138]])

In [32]:
stan = preprocessing.StandardScaler()
new_data2 = stan.fit_transform(df)

In [33]:
new_data2

array([[-0.14605156,  0.74248756,  0.03014129,  1.53603385],
       [-0.14605156,  1.64638546,  1.18099036,  2.59195933],
       [-0.14605156, -0.16141034,  0.41375764,  0.49219335],
       [-0.35052374,  0.61335929,  3.4826885 , -0.37792551],
       [-0.35052374,  1.64638546,  1.41116017,  1.48920453],
       [-0.14605156, -0.29053861, -0.20002853, -0.11205586],
       [-0.14605156,  0.74248756,  0.49048091,  1.00580517],
       [ 5.1702252 , -0.03228207,  0.33703437, -0.8175168 ],
       [-0.55499593,  0.61335929,  0.2603111 , -1.69669939],
       [-0.14605156, -0.8070517 , -0.43019834, -0.58034899],
       [-0.14605156, -0.16141034,  1.3344369 ,  0.33055668],
       [-0.14605156, -0.54879515, -0.73709143, -0.856793  ],
       [-0.14605156,  0.22597447, -0.12330526,  0.57225637],
       [-0.14605156, -0.03228207,  0.18358783,  1.08586819],
       [-0.14605156, -0.8070517 , -0.50692162, -0.48971161],
       [-0.14605156, -0.8070517 , -0.73709143, -1.39306417],
       [-0.14605156, -0.54879515, -0.73709143, -0.11205586],
       [-0.14605156, -0.16141034, -0.50692162,  0.23538744],
       [-0.35052374, -0.93617997, -0.35347507, -0.97311097],
       [-0.14605156,  0.48423102,  0.10686456,  0.85776411],
       [-0.14605156,  3.32505299, -2.19483359, -0.11205586],
       [-0.35052374,  0.0968462 ,  0.18358783, -0.92779228],
       [-0.14605156, -0.29053861, -0.2767518 ,  0.40910908],
       [-0.14605156, -0.54879515, -0.73709143, -0.86736736],
       [-0.14605156, -1.58182132, -0.89053797, -1.00332343],
       [-0.14605156, -0.54879515,  0.18358783, -0.41418046],
       [-0.14605156, -0.29053861, -0.04658199,  1.10097442],
       [-0.14605156, -1.58182132, -1.12070779, -0.97311097]])