<a href="https://colab.research.google.com/github/hasib231/Data_Mining_and_Machine_Learning/blob/main/DM_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_path = '/content/drive/MyDrive/Colab files/D&M Lab/D&M lab 2.csv'
#iris data

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.4           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.3          0.2  setosa
4           5.1          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [6]:
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [7]:
x = df.drop('species',axis=1)
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.4           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.3          0.2
4           5.1          3.6           1.4          0.2

In [8]:
y = df['species']
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder = LabelEncoder()

In [11]:
y = encoder.fit_transform(y)

In [12]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [15]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
18            5.7          3.8           1.7          0.3
108           6.7          2.5           5.8          1.8
53            5.5          2.3           4.0          1.3
65            6.7          3.1           4.4          1.4
5             5.4          3.9           1.7          0.4

##Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
linear = LinearRegression()

In [18]:
linear.fit(x_train,y_train)

LinearRegression()

In [19]:
linear.score(x_train,y_train)

0.9353220677057148

In [20]:
linear.score(x_test,y_test)

0.9082028504649424

In [21]:
y_test

array([0, 2, 1, 1, 2, 1, 2, 2, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 2, 2, 1, 2,
       0, 1, 0, 1, 0, 0, 0, 1])

In [22]:
y_predict=linear.predict(x_test)
y_predict #y = mx + b

array([ 5.63146790e-02,  1.56717961e+00,  1.34776669e+00,  8.65208041e-01,
        2.10061002e+00,  1.13891117e+00,  1.70568306e+00,  1.67127405e+00,
       -3.05463203e-02,  1.88471270e+00,  1.20941999e-03,  1.27902309e+00,
        1.31614326e+00,  9.99328265e-02, -6.02615168e-02, -5.70739299e-02,
        1.22961027e+00,  1.79924835e+00,  1.58495289e+00,  1.84790181e+00,
        1.38504740e+00,  1.73546166e+00, -7.42439795e-02,  1.56551436e+00,
        1.76189144e-01,  1.28080454e+00,  6.71276714e-03,  1.08828626e-02,
        1.57094743e-01,  1.30719322e+00])

In [23]:
linear.coef_ #y=m1x1+m2x2+m3x3+m4x4 + b #value of m

array([-0.12333328, -0.03446689,  0.26056688,  0.5397433 ])

In [24]:
linear.intercept_ #value of b

0.2060942880707557

In [25]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
21            5.1          3.7           1.5          0.4
126           6.2          2.8           4.8          1.8
68            6.2          2.2           4.5          1.5
79            5.7          2.6           3.5          1.0
144           6.7          3.3           5.7          2.5

##Logistic Regression

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
logistic = LogisticRegression()

In [30]:
logistic.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [33]:
logistic.score(x_train,y_train)

0.975

In [34]:
logistic.score(x_test, y_test)

0.9666666666666667

In [35]:
y_preds = logistic.predict(x_test)
y_preds

array([0, 2, 1, 1, 2, 1, 2, 2, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 2, 2, 1, 2,
       0, 2, 0, 1, 0, 0, 0, 1])

In [36]:
y_test

array([0, 2, 1, 1, 2, 1, 2, 2, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 2, 2, 1, 2,
       0, 1, 0, 1, 0, 0, 0, 1])

In [37]:
logistic.predict_proba(x_test)

array([[9.75743559e-01, 2.42563559e-02, 8.49511628e-08],
       [1.36984055e-03, 4.67366189e-01, 5.31263970e-01],
       [2.26668789e-03, 7.79863338e-01, 2.17869974e-01],
       [6.65059442e-02, 9.28633749e-01, 4.86030707e-03],
       [7.62598868e-06, 1.80103969e-02, 9.81981977e-01],
       [8.92743582e-03, 9.28836553e-01, 6.22360108e-02],
       [8.37970372e-05, 1.27964228e-01, 8.71951975e-01],
       [3.16276427e-04, 2.69116594e-01, 7.30567129e-01],
       [9.81799775e-01, 1.82001938e-02, 3.16542450e-08],
       [2.23491229e-05, 4.66577259e-02, 9.53319925e-01],
       [9.77217433e-01, 2.27825095e-02, 5.80277654e-08],
       [1.69540996e-02, 8.88857831e-01, 9.41880697e-02],
       [3.06884999e-03, 7.94074838e-01, 2.02856312e-01],
       [9.41076792e-01, 5.89226748e-02, 5.33352837e-07],
       [9.61054541e-01, 3.89453685e-02, 9.01119294e-08],
       [9.68517418e-01, 3.14825139e-02, 6.81582747e-08],
       [3.91463615e-03, 8.25434584e-01, 1.70650780e-01],
       [3.13730129e-04, 1.68645663e-01, 8.31040607e-01],
       [2.01250105e-03, 4.54982795e-01, 5.43004704e-01],
       [1.47343151e-06, 1.91899340e-02, 9.80808593e-01],
       [1.14810069e-02, 7.80495039e-01, 2.08023954e-01],
       [2.07207776e-04, 1.76815774e-01, 8.22977018e-01],
       [9.79095119e-01, 2.09048466e-02, 3.46777299e-08],
       [5.79952474e-04, 3.40459916e-01, 6.58960131e-01],
       [9.39245955e-01, 6.07534875e-02, 5.57430638e-07],
       [8.18390021e-03, 8.35784145e-01, 1.56031955e-01],
       [9.79933865e-01, 2.00660887e-02, 4.59930572e-08],
       [9.40179361e-01, 5.98204085e-02, 2.30880704e-07],
       [9.50753516e-01, 4.92459508e-02, 5.33079130e-07],
       [3.00649833e-03, 7.82350225e-01, 2.14643277e-01]])